@inherits LayoutComponentBase

<PageTitle>Madislosinc</PageTitle>
<html class = "webpage-background">
    <header>
        <div class="navbar">
            <NavMenu/>
        </div>
    </header>
    <article class="content">
    @Body
    </article>
    <footer class="footer">
    </footer> 
</html>
