@inherits LayoutComponentBase

<PageTitle>Madislolinc</PageTitle>
<html class = "base">
    <header class="navbar">
        <NavMenu/>
    </header>
    <article class="content">
    @Body
    </article>
    <footer class="footer">
        <h1>Teised huvitavad saidid</h1>
        <a href="https://tauniidid.wordpress.com/">Box 344/345 Blog</a>
    </footer> 
</html>
