@inherits LayoutComponentBase

<PageTitle>Madislosinc</PageTitle>

<body>
    <div class ="webpage-background">
        <div class="navbar">
            <NavMenu />
        </div>

        <main>
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</body>
