@inherits LayoutComponentBase

<PageTitle>Madislosinc</PageTitle>
<html class = "webpage-background">
    <header>
        <div class="navbar">
            <NavMenu/>
        </div>
    </header>
    <article class="content">
    @Body
    </article>
    <footer class="footer">
        <h1>Our loyal subjects:</h1>
        <a href="https://tauniidid.wordpress.com/">Tauniidid</a>
    </footer> 
</html>
