<div class="navbar">
    <div class="navbar-brand">
        <a href="">MadislolincWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <nav class="@NavMenuCssClass nav-menu">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>
            <span class="nav-text">Home</span>
        </NavLink>
        <NavLink class="nav-item" href="projects">
            <span class="oi oi-plus" aria-hidden="true"></span>
            <span class="nav-text">Projects</span>
        </NavLink>
        <NavLink class="nav-item" href="employees">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
            <span class="nav-text">Employees</span>
        </NavLink>
        <NavLink class="nav-item" href="news">
            <span class="oi oi-document" aria-hidden="true"></span>
            <span class="nav-text">News</span>
        </NavLink>
        <NavLink class="nav-item" href="AboutUs">
            <span class="oi oi-person" aria-hidden="true"></span>
            <span class="nav-text">About Us</span>
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
