<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

    
   @* <div class="navlink-box">
        <div class="nav-link">
            <a class="navbar-brand" href="">MadislolincWeb</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                 <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>*@
    <nav class="navbar-display">
        <NavLink class="nav-link navlink-box" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link navlink-box" href="projects">
            <span class="oi oi-plus" aria-hidden="true"></span> Projects
        </NavLink>

        <NavLink class="nav-link navlink-box" href="employees">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Employees
        </NavLink>

        <NavLink class="nav-link navlink-box" href="news">
            <span class="oi oi-list-rich" aria-aria-hidden="true"></span> News
        </NavLink>
        <NavLink class="nav-link navlink-box" href="AboutUs">
            <span class="oi oi-list-rich" aria-aria-hidden="true"></span> About Us
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
