@page "/AboutUs"

<PageTitle>About sus</PageTitle>

<h1>Madislolinc</h1>
<h2>What we do:
</h2>
<p>We work on tehnical solutions as making databases, websites or software.
</p>
<h2>What we envision:</h2>
<p>We strive to become a top tech firm in Estonia (or something)</p>
