@page "/"

<PageTitle>Home</PageTitle>

<h1>Tervetuloa Madislol incorporated veebilehele!</h1>

<iframe width="620" height="444" src="https://strawpoll.com/embed/kj8xo92yo" style="width: 100%; height: 444px;" frameborder="0" allowfullscreen></iframe>

<h2>Uudised:</h2>

<h2>Pakkumised:</h2>


