@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Madislolinc</h1>

<h2>Latest news: (this feature will be available in the future)</h2>

<h2>Limited time offers: (this feature will be available in the future (if i actually even make this firm real))</h2>


