@page "/projects"

<PageTitle>Projects</PageTitle>

<div>
    <h1>Madise projektid</h1>
    <h2>Arbuja demo (11. klassi arvutiõpetuse töö)</h2>
    <a href="data/projects/madis/Arbuja.zip" download>Click here to download for free now!!</a>
</div>

<div>
    <h1>Oliveri projektid</h1>
    <a href="https://thesis.cs.ut.ee/5dae8491-1df3-48ec-a93f-07265d48705d?language=en" d>Oliver Thesis</a>
</div>